@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@900&family=Pacifico&family=Rancho&family=Roboto+Slab:wght@300;900&family=Source+Serif+Pro:ital,wght@0,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: hsl(0, 0%, 18.82%);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
