/* sidebar */
.links {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: -133px;
  text-transform: capitalize;
  gap: 1.5rem;
  font-family: 'Source Serif Pro';
}
.links > a {
  text-decoration: none;
  color: #f2f1ee;
  transition: ease-in-out 0.3s;
}
.links a:hover {
  color: rgb(40, 187, 245);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(9, 26, 42, 0.9);
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
  animation: sizeUp 0.31s ease;
  transform-origin: top right;
}

@keyframes sizeUp {
  0% {
    transform: scale(0.1);
    border-radius: 50%;
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: move 0.7s ease-out;
  transition-delay: 100ms;
}

@keyframes move {
  0% {
    transform: translateX(200%) scale(0.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.sidebar-header a {
  animation: rotate 2.5s ease-out;
}
@keyframes rotate {
  0% {
    transform: rotate(3160deg);
  }
  100% {
    transform: rotate(0);
  }
}

.sidebar-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: #fff;
  padding: 0.345rem;
  /* border-radius: 50%; */
  fill: #000;

  /* filter: drop-shadow(1px 1px 1px #000); */
  border: none;
  z-index: 9;
  font-size: 2rem;
}

/* end of sidebar */
/* container */
.container {
  height: 100vh;
  width: 100%;
}
/* footer */
.footer {
  width: 100vw;
  height: auto;
  background-color: #222;
  color: #f2f1ee;
  display: grid;
  place-items: center;
  font-family: 'Roboto Slab';
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  margin-top: 3rem;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
.ciklogen-span {
  font-family: 'Rancho';
  font-size: 1.75rem;
  text-transform: lowercase;
}
.footer-content {
  padding: 30px;
}
/* footer end */
/* about stranica */
.about {
  background-image: url('/logo/orange_2020.png');
  background-size: contain;
  background-color: black;
  background-position-x: center;
}

/* header klasa za svaku stranu posebna */
.bg-image {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* animation: blurOut 1.6s ease-out; */
}
@keyframes blurOut {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: sepia();
  }
}

.bg-text {
  width: 90vw;
  text-align: center;
}
/* about us */
.riders {
  margin: 3rem auto;
  height: 100%;
  width: 60vw;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: 'Roboto Slab';
  /* background-color: burlywood; */
}
.img-container {
  border-radius: 50%;
  margin: 1rem;
  width: 150px;
  height: 150px;
}
.about-text h2 {
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: 0.15vw;
}
.about-text p {
  margin-top: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.05vw;
}
.about-rider {
  display: grid;
  place-items: center;
  margin: 1rem;
  text-align: center;
}
.about-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.createdBy {
  background-color: #000;
  width: 100%;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  .riders {
    display: grid;
    grid-template-columns: auto;
  }
}
.sepia {
  filter: sepia(60%);
}

.img0 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/fruska_uchce7.jpg');
  background-position: 50% 20%;
}
.img1 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951437/ciklogen/lazin_r6ik1b.jpg');
  background-position: 50% 40%;
}
.img2 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/perucac_vpy8bb.jpg  ');
  background-position: 50% 60%;
}
.img3 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/stara_kbmzwv.jpg');
  background-position: 50% 70%;
}
.img4 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/zavojsko_xprtxv.jpg');
  background-position: 50% 50%;
}
.img5 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/vlasina_oajw1k.jpg');
  background-position: 50% 50%;
}
.img6 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/vinatovaca_wogbql.jpg');
  background-position: 50% 50%;
}
.img7 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1637951438/ciklogen/zelengora_xzpdld.jpg');
  background-position: 50% 50%;
}
.img8 {
  background-image: url('https://res.cloudinary.com/dvpyf1a8e/image/upload/v1638878052/ciklogen/jastrebac/IMG_20150412_150055_uqj3xa.jpg');
  background-position: 50% 50%;
}
/* Position text in the middle of the page/image */

/* index page elementi */
.heading {
  font-size: 12.5em;
  color: rgba(99, 26, 42, 0.9);
  text-transform: uppercase;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  mix-blend-mode: multiply;
  /* mix-blend-mode: darken; */
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.75rem;
  overflow-wrap: break-word;
}

.desc {
  font-family: 'Pacifico';
  font-style: italic;
  font-size: 3rem;
  overflow-wrap: break-word;
  text-transform: capitalize;
  color: #f2f1ee;
  text-shadow: 2px 2px 2px #000;
}
.read-more {
  background-color: #121212;
  color: #f2f1ee;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 50px;
}
/* index page elementi end */
/* scrool up ikonica */
.go-up {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 2rem;
  cursor: pointer;
  visibility: hidden;
  animation: bounce 2s ease-in-out infinite;
}
.go-up > i {
  color: #000;
}
/* univerzalne klase */
.overflow {
  overflow: hidden;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

.show {
  visibility: visible;
  z-index: 99;
}
.hide {
  visibility: hidden;
}

/* media querry for different screen sizes */
@media screen and (max-height: 550px) {
  .links {
    font-size: 1rem;
    gap: 0.75rem;
    margin-top: -75px;
  }

  .go-up {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1350px) {
  .heading {
    font-size: 9rem;
  }
  .desc {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 800px) {
  .heading {
    font-size: 7.5rem;
  }
  .desc {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 550px) {
  .img1 {
    background-position: 71% 40%;
  }
  .img2 {
    background-position: 97% 60%;
  }
  .img3 {
    background-position: 77% 70%;
  }
  .img4 {
    background-position: 0% 50%;
  }
  .img5 {
    background-position: 50% 50%;
  }
  .img6 {
    background-position: 50% 50%;
  }
  .heading {
    font-size: 4rem;
    letter-spacing: -0.3rem;
  }
  .desc {
    font-size: 1.1rem;
  }
  .links {
    font-size: 1.3rem;
    gap: 1.3rem;
    margin-top: -75px;
  }
  .read-more {
    font-size: 0.75rem;
    padding: 5px 20px 5px 20px;
  }
  .go-up {
    font-size: 1.3rem;
  }
}
