.header-content {
  width: 100%;
  height: 100%;
}
.date {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 0.75rem;
  font-weight: 900;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #f2f1ee;
  padding: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.date > span {
  margin-left: 5px;
}
.intro {
  padding-left: 10px;
  font-size: 1.6rem;
  border-left: 7px solid #588157;
  margin: 20px auto;
  width: 100%;
  font-family: 'Roboto Slab';
  font-weight: 900;
}
.story-text p {
  margin-bottom: 1rem;
}
.naslov {
  font-family: 'Fira Sans Extra Condensed';
  /* mix-blend-mode: multiply; */
  /* font-size: 7rem; */
  letter-spacing: 8px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #f2f1ee;
  font-size: clamp(1.3rem, 13vw, 7.1rem);
  /* opacity: 0.7; */
}
.podnaslov {
  font-size: 2.5rem;
  color: #d1d1d1;
  font-weight: 700;
  font-family: 'Pacifico';
  font-style: italic;
  text-shadow: 2px 2px 4px #000;
}

.author {
  padding: 10px;
  /* background-color: #222; */
  font-style: italic;
  font-size: 1rem;
}

.blur {
  filter: blur(2px);
}

.header {
  /* Full height */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  /* border: 10px solid black; */
  /* filter: sepia(); */
  animation: blurOut 1.6s alternate;
}
@keyframes blurOut {
  0% {
    filter: sepia() blur(6px);
  }
  100% {
    filter: none;
  }
}
.content {
  font-family: 'Fira Sans Condensed', sans-serif;
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  /* background: rgba(116, 127, 90, 0.3);  */
  color: #f2f1ee;
  width: 100%;
  height: auto;
  padding: 30px;
  word-wrap: break-word;
}
.divider {
  border-top: 10px solid #222;
}
.divider-px {
  height: 10px;
}
.load-fail {
  display: grid;
  place-items: center;
  height: 100vh;
}
.story {
  height: auto;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1.85em;
  color: #f2f1ee;
  font-family: 'Source Serif Pro';
  font-weight: 300;
  text-align: left;
  /* border: 1px solid black; */
}
.blockquote {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: 'Roboto Slab';
  font-weight: 700;
  margin: 1rem 1.5rem 1rem 0;
  height: max-content;
  max-width: 40%;
  font-family: 'Roboto Slab';
  float: left;
}
.quotes {
  font-size: 7rem;
  margin-bottom: -30px;
  /* color: rgba(99, 26, 42, 0.8); */
  color: #588157;
  float: left;
  font-family: 'Roboto Slab';
}
.dropcap {
  float: left;
  width: 0.7em;
  font-size: 530%;
  line-height: 100%;
}
.story-text {
  width: 80%;
  margin: 40px auto;
  /* display: flex; */
}

.social-icons {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}
.social-icons svg {
  fill: rgb(235, 231, 34);
}
/* media querry for different screen sizes */
@media screen and (max-height: 550px) {
  .naslov {
    font-size: 2rem;
  }
  .podnaslov {
    font-size: 0.66rem;
  }
  .story {
    width: 90vw;
  }
}
@media screen and (max-width: 550px) {
  .story {
    width: 100%;
  }
  .story-text {
    font-size: 0.85em;
    line-height: 1.6em;
    width: 90%;
  }
  .intro {
    line-height: 1.4em;
    font-size: 1em;
    font-weight: 800;
  }
  .naslov {
    font-size: 3rem;
  }
  .podnaslov {
    font-size: 1rem;
  }
  .content {
    padding: 15px;
  }
  .blockquote {
    width: 100%;
  }
}
